body {
  




background-color: #27352f;
height: 100%

  

}


h1{

font-size: 50px;
position: absolute;
margin-left:750px;
font-family: fira sans-2, sans-serif;
letter-spacing: 10px;
font-style: 300px;
font-weight: 200px;
 color:#fffef0;
margin-top: 150px;


}
h2{
width:430px;
font-size: 15px;
position: absolute;
margin-left:750px;
line-height: 33px;
font-family: fira sans-2, sans-serif;
font-style: normal;
font-weight: lighter;


 color:#d4e4d2;
margin-top: 250px;



}

.i{

width:400px;
height:500px;
background-color:none;
background-image: url("Image/i.png");
background-size:cover;
background-position: center;
position:absolute;
margin-left:250px;
 
margin-top: 150px;
align-items: center;

}



.send{

width:72px;
height:49px;
background-color:none;
background-image: url("Image/confirm.png");
background-size:cover;
background-position: center;
position:absolute;
margin-left:750px;
 
margin-top: 600px;
align-items: center;

}
.send:hover {


filter:blur(20px);
transition:1.5s;

}