
/* setup the spread */

/* this defines the helper grid */

h1 {


color:#90a49c;
font-family: fira sans-2, sans-serif;
letter-spacing: 10px;
font-style: normal;
font-weight: 500;
position: absolute;
font-size: 40px;
text-align: center;
margin-top: 240px;
margin-left: 360px; 
text-align: center;

 animation-name: yeon;
animation-duration: 4s;
animation-fill-mode: forwards;
animation: yeon 5s end;

}
 @keyframes yeon{
    0%   {color: #fffef0; }
    50%  {color: #8da69c; }
    100% {color:#fffef0;}
  }







h2 {


color:#a5b29b;
font-family: stratos-lights, sans-serif;
font-style: italic;
font-weight: 700;
margin-left: 487px;
 margin-top: -60px;
font-size: 20px;
line-height: 90px;
text-align: left;
position: absolute;

 
  }
div.content 
  {
    width:500px;
color:#a5b29b;
font-size:20px;
letter-spacing: 0px;
text-align: left;
line-height: 38px;
font-family: stratos-lights, sans-serif;
font-style: normal;
font-weight: 400;
margin-top: 6px;
margin-left: 490px;
position: absolute;


  }


h3 {


color:#fffef0;
font-family: fira sans-2, sans-serif;

font-weight: 300;
position: absolute;
font-size: 14px;
position: absolute;
margin-top: 320px;
margin-left: 510px;
text-transform: uppercase;


  }
  
  h4 {

color:#fffef0;
font-family: fira sans-2, sans-serif;
letter-spacing: 10px;
font-style: 300px;
font-weight: 200px;
margin-left: 300px;
margin-top: 480px;
font-size: 25px;
line-height: 90px;
text-transform: uppercase;




  }

  h5 {

color:#fffef0;
font-family: fira sans-2, sans-serif;
letter-spacing: 10px;
font-style: 300px;
font-weight: 200px;
margin-left: 290px;
margin-top: 1350px;
font-size: 25px;
line-height: 90px;
text-transform: uppercase;




  }


   h6 {

color:#fffef0;
font-family: fira sans-2, sans-serif;
letter-spacing: 10px;
font-style: 300px;
font-weight: 200px;
margin-left: 250px;
margin-top: 2000px;
font-size: 25px;
line-height: 90px;
text-transform: uppercase;



  }


p.hi 
  {

font-size: 83px;
color: #364745;
font-family: josefin-sans, sans-serif;
font-style: normal;
font-weight: 800;
letter-spacing: 10px;
stroke:white;

margin-left: 480px;
margin-top: 240px;


animation-name: welcome;
animation-duration: 4s;
animation-fill-mode: both;
animation: welcome 2s infinite;

}
 @keyframes welcome{
    0%   {margin-left: 480px;}
   50%{margin-left: 490px;}

   
   
  }

transition:4s;
}


p.a{

width: 40px;
height:20px;

font-family: fira sans-2, sans-serif;
margin-top: 2000px;
font-style: 300px;
font-weight: 500px;

font-size: 30px;
line-height: 130px;
text-align: center;





}



 
  














