body {
  


background-color: #192120;

  

}

h1{


color: white;
line-height: 40px;
width:700px;
	font-size: 30px;
position: absolute;

font-family: fira sans-2, sans-serif;
margin-left: 370px;
font-style: 300px;
font-weight: 100px;

margin-top: 200px;
}


