body {
  


background-color: #192120;

  

}

h1{


color: red;
line-height: 40px;
width:900px;
	font-size: 45px;
position: absolute;

font-family: fira sans-2, sans-serif;
margin-left: 380px;
font-style: 300px;
font-weight: 100px;
line-height: 50px;
margin-top: 250px;
}
h2{

font-size: 23px;

font-family: fira sans-2, sans-serif;

font-style: 300px;
font-weight: lighter;
color:#fffef0;
margin-top: 350px;
  margin-left: 380px;
  line-height: 40px;
  width:600px;


color:white;
position: absolute;





}


