/* setup the spread */

/* this defines the helper grid */
.gridlines {
  /* change these as you need */
 
  --grid-color:pink;
  --grid-gap: 10px;
--grid-size: 30px;
}


/* anything else you want to do 👇🏻 */

h1 {
  margin-top: 100px;
  margin-left:-18px;
  color:#030347;
  font-size:45px;
 font-family: cubano, sans-serif;
font-style: normal;
font-weight: 700;
padding:10px;
 
  
}
h2 {
  
  color:#ff0099;
  margin-left: 50px;
  margin-bottom: 40px;
  font-family: forma-djr-deck, sans-serif;
font-style: normal;
font-weight: 600;
  font-size:17px;

  
}
p  {
  color:#3f3f3f;
  font-family: serenity, sans-serif;
font-style: normal;
font-weight: 400;
  margin-left:6px;
  margin-top:10px;
   padding:20px;
  letter-spacing:1px;
  font-size:13px;
  line-height: 18px;

    
}

.page {
  padding:0px;
  
  
  
  
}
#pageTwo p {
  column-count: 2;

  
}
