/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 200px;
	width: 200px;
	background: orange;
	color: white;
	margin: 10px auto;
	padding: 10px;
	box-sizing: border-box;
	transition: all 700ms ease; 
	cursor: pointer;


}

/* example element 1 */

#element-1:hover {
	transform: rotate(30deg) scale(2);
	height: 400px;

	opacity: .3;

}

#element-1:active {
	background: white;
	opacity: 1;
}

/* example element 2 */

#element-2::after {
	content: 'this is added after the content inside the element';
	color: white;
}


#element-2:hover::after {
	content: 'this text changes on hover';
	color: red;
}

/* example element 3 is changed only via js */

/* example element 4 */
#element-4.gradient-background {
	background: linear-gradient(blue, pink);
	color: transparent;
}

/* example element 5 */
.circle {
	border-radius: 125px;
}

/* example element 6 */
#element-6{
	transition: none; 
}
